@import '../styles/globals.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: $bg-color;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  max-width: calc(100vw - 225px);
  justify-content: center;
  margin: 1rem;
  flex: 1;
}

.errorMessage {
  color: red;
  margin-top: 1rem;
}
