@import "../styles/globals";

.footerContainer {
  background-color: $surface-bg;
  position: sticky;
  bottom: 0;
  border-top: 1px solid $border-color;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > div {
    padding: 1rem 2rem;
  }
}

.footerPlaceholder {
  height: 67px;
}

.paginationFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}

.pageButton,
.navButton {
  background-color: $button-bg;
  border: 1px solid $border-color;
  color: $text-color;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all $transition-fast;
  font-family: inherit;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background-color: $button-hover-bg;
  }
}

.active {
  background-color: $primary-color;
  color: #fff;
  border-color: $primary-color;
}
