.filterBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ddd;
  background: aliceblue;
}

.searchBox {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 220px;

  &:focus {
    outline: none;
    border-color: #007bff;
  }

  &:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  }
}

.dropdown {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
  min-width: 160px;
}

select,
select option {
  text-transform: capitalize;
}
