@import '../styles/globals';

.filterBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 1px solid $border-color;
  background: $surface-bg;
}

.searchBox {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid $border-color;
  border-radius: 5px;
  width: 220px;
  font-family: inherit;

  &:focus {
    outline: none;
    border-color: $primary-color;
  }

  &:hover {
    box-shadow: $box-shadow;
  }
}

.dropdown {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid $border-color;
  font-size: 1rem;
  min-width: 160px;
  font-family: inherit;
}

select,
select option {
  text-transform: capitalize;
  font-family: inherit;
}
