@import "../styles/globals";

.imagePlaceholder {
  width: 100%;
  height: 150px;
  margin-bottom: 0.5rem;
  @extend .skeleton-bg;
  animation: pulse $animation-pulse-duration infinite ease-out;
}

.skeleton-bg {
  background: $skeleton-shade-1;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, $skeleton-shade-1),
    color-stop(18%, $skeleton-shade-2),
    color-stop(33%, $skeleton-shade-1)
  );
  background: linear-gradient(
    to right,
    $skeleton-shade-1 8%,
    $skeleton-shade-2 18%,
    $skeleton-shade-1 33%
  );
  background-size: $skeleton-bg-size;
}

.skeleton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 225px;
  border: 1px solid $border-color;
  background: $card-bg;
  border-radius: $card-border-radius;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  align-items: flex-start;
  max-height: $card-max-height;

  h3 {
    width: 80%;
    height: 20px;
    @extend .skeleton-bg;
    animation: pulse $animation-pulse-duration infinite ease-out;
  }

  p {
    width: 40%;
    height: 20px;
    @extend .skeleton-bg;
    animation: pulse $animation-pulse-duration infinite ease-out;
  }
}

@keyframes pulse {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
